{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">

  <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Акции августа</h1><p class="fs-5 text-muted">ЛУЧШИЕ ПРЕДЛОЖЕНИЯ ДЛЯ ЛУЧШИХ КЛИЕНТОВ</p>

        </div>
    </div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Бесплатно</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0$<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Записать друга</li>
              <li>Оставить отзыв</li>
              <li>Получить консультацию</li>
              <li>Книга жалоб</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Вперед!</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Акции этого месяца</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">-10%<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Комбинированная чистка</li>
              <li>Мезотерапия воротниковой зоны</li>
              <li>Мезотерапия волосистой части головы</li>
              <li>Фракционная мезотерамия</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Записаться</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Новинки</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">-29%<small class="text-muted fw-light">/успей</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ботулинотерапия глаз</li>
              <li>Контурная пластика ногтевых пластинок</li>
              <li>Биоревитализация Ареол</li>
              <li>Фракционная мезотерапия губ</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Осталось 6 мест</button>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}